@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@400;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
  margin: auto;
  max-width: 1440px;
  background: #fff;
}

.container { 
	padding-top: 76px;
}

.container__title {
	margin: auto;
	text-align: center;
	color: #000;
	font-family: Raleway;
	font-size: 63px;
	font-style: normal;
	font-weight: 900;
	margin-bottom: 69px;
}

.colortext{
	color: #54D4A0;
}

.calculator {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.container-setting {
	max-width: 720px;
	margin: auto;
}

.calculator-setting {
	width: 535px;
	margin: auto;
}

.borrow-amount {
	margin-bottom: 93px;
}

.slidecontainer {
  width: 535px;
}

.payment-period {
	margin-bottom: 123px;
}

.slidecontainer__subtitle {
	color: #808080;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	margin-bottom: 16px;
}

.slider {
  -webkit-appearance: none;
  /*appearance: none;*/
  width: 535px;
  height: 8px;
  background: #F0F0F0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 15px;

  margin-bottom: 24px;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #54D4A0;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	/*-webkit-appearance: none; /* Override default look */
	/*appearance: none;*/
	width: 25px;
	height: 25px;
	background: #54D4A0;
	cursor: pointer;
	border-radius: 50%;
}

.min-max {
	display: flex;
	justify-content: space-between;
	color: #808080;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 14px;
}

.slidecontainer__total {
	margin: auto;
	text-align: center;
	color: #000;
	font-family: Raleway;
	font-size: 43px;
	font-style: normal;
	font-weight: 700;
}

.interest-rate, .format-payment {
	color: #000;
	font-family: Raleway;
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
}

.interest-rate {
	margin-bottom: 62px;
}

.deposit-date {
	border-bottom: 3px solid #000;
	position: relative;
}

.deposit-date__date {
	color: #54d4a0;
	position: absolute;
	right: 58px;
	bottom: 10px;
}

.rate-and-calendare {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 37px;
  padding-top: 34px;
}

.rate-and-calendare__rate {
	color: #000;
	font-family: Raleway;
	font-size: 29px;
	font-style: normal;
	font-weight: 600;
	margin: 0;
}

.flatpickr {
  position: relative;
  width: 195px;
  height: 53px;
}

.input-date {
  width: 100%;
  padding: 12px 8px 11px 20px;
  outline: none;
  background: #FFF;
	font-family: Raleway;
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
  color: #9E9C9C;
  border-radius: 3px;
  border: 1px solid #808080;
}

.input-button {
  position: absolute; 
  top: 6px;
  right: -22px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.format-payment {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.radio {
	margin-right: 76px;
}

	/* скрытие чекбокса*/
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

  /* для элемента label связанного с .custom-radio */
.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

  /* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #54d4a0;
  border-radius: 100%;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
 
 /* стили при наведении курсора на радио */
.custom-radio:not(:checked)+label:hover::before {
  border-color: #fff;
}
  
/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked+label::before {
  border-color: #54d4a0;
  background-color: #54d4a0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='%23fff'/%3e%3c/svg%3e");
	transition: all 250ms ease;
}
 
.container-total {
	width: 630px;
	margin: auto;
	margin-top: 77px;
} 

.total {
	text-align: center;
	margin: auto;
}

.mounth-payment {
	margin-bottom: 60px;
}

.mounth-payment__title {
	color: #000;
	font-family: Raleway;
	font-size: 43px;
	font-style: normal;
	font-weight: 800;
	margin-bottom: 54px;
}

.mounth-payment__payment {
	color: #54D4A0;
	font-family: Raleway;
	font-size: 63px;
	font-style: normal;
	font-weight: 900;
}

.mounth-payment__fees {
	color: #000;
	font-family: Raleway;
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
}

.borrowing-repay {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 55px;
}

.borrowing, .to-repay {
	width: 288px;
	border-radius: 4px;
	padding-top: 24px;
  padding-bottom: 18px;
}

.borrowing {
	background: #F6F6F6;
}

.borrowing__title, .to-repay__title {
	color: #000;
	font-family: Raleway;
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.borrowing__text, .to-repay__text {
	color: #000;
	font-family: Raleway;
	font-size: 43px;
	font-style: normal;
	font-weight: 800;
	margin: 0;
}

.to-repay {
	background: #E9FFF6;
}

.borrowing-repay__btn {
	padding-top: 17px;
	padding-bottom: 17px;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #54D4A0;
	background-color: #fff;
	color: #000;
	font-family: Raleway;
	font-size: 19px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 4px;
	text-transform: uppercase;
	cursor: pointer;
}

.borrowing-repay__btn:hover {
	background-color: #E9FFF6;
	border: 1px solid #fff;
	transition: .2s;
}

@media (max-width: 1367px) {
	.container {
		padding-top: 15px;
	}
	
	.container__title {
    font-size: 40px;
		margin-bottom: 35px;
	}

	.container-setting, .container-total {
		width: 40%;
	}
	
	.borrow-amount {
    margin-bottom: 40px;
	}

	.payment-period {
    margin-bottom: 70px;
	}

	.calculator-setting, .slidecontainer, .slider {
		width: 100%;
	}
	
	.slidecontainer__total {
    font-size: 35px;
	}

	.interest-rate {
    margin-bottom: 10px;
	}

	.radio {
		margin-top: 20px;
	}
	 
	.container-total {
		margin: auto;
	}
	
	.mounth-payment__payment {
  	font-size: 52px;
	}

	.borrowing {
		margin-right: 9%;
	}
	
	.borrowing__title, .to-repay__title {
		font-size: 14px;
	}
	
	.borrowing__text, .to-repay__text {
		font-size: 33px;
	}
	
	.borrowing-repay__btn {
		padding: 17px;
	}
}

@media (max-width: 1000px) {
	.calculator {
		display: block;
	}
}

@media (max-width: 900px) {
	.container {
		margin-bottom: 50px;
	}

	.container-setting, .container-total {
		width: 80%;
		margin-bottom: 50px;
	}

	.calculator-setting {
		width: 90%;
	}
	
	.borrow-amount {
		margin-bottom: 77px;
	}
	
	.slidecontainer, .slider, .total{
		width: 100%;
	}
	
	.borrowing-repay {
		display: block;
	}
	
	.borrowing, .to-repay {
		margin: auto;
		margin-bottom: 31px;
		width: 100%;
	}
	
	.borrowing-repay__btn {
		margin-top: 0;
	}
}

@media(max-width: 500px) {
	.container {
		width: 85%;
		margin: auto;
		margin-bottom: 50px;
		padding-top: 66px;
	}
	
	.container__title {
		font-size: 34px;
		margin-bottom: 32px;
	}
		
	.calculator {
		width: 100%;
		margin: auto;
		padding-bottom: 0;
	}
	
	.container-setting, .container-total {
		width: 100%;
	}
	
	.calculator-setting {
		width: 100%;
	}

	.payment-period {
		margin-bottom: 116px;
	}

	.slidecontainer, .slider, .total{
		width: 100%;
	}
	
	.format-payment {
		display: block;
	}
	
	.deposit-date__date {
		right: 0;
	}
	
	.rate-and-calendare {
		width: 91%;
		padding: 0;
		padding-top: 40px;
		margin-bottom: 34px;
  }

	.radio {
		margin-bottom: 14px;
		margin-right: 0;
	}
	
	.container-total {
		border-top: 1px dotted #808080;
		margin-top: 50px;
	}

	.mounth-payment {
		padding-top: 48px;
		margin-bottom: 54px;
	}

	.mounth-payment__title {
		font-size: 34px;
		margin-bottom: 14px;
	}
	
	.mounth-payment__payment {
		margin: 0;
    font-size: 43px;
    font-weight: 700;
		margin-bottom: 10px;
	}

	.borrowing-repay {
		display: block;
		margin-bottom: 29px;
	}
	
	.borrowing, .to-repay {
		margin-bottom: 23px;
		padding-top: 24px;
		padding-bottom: 26px;
	}
	
	.borrowing__text, .to-repay__text {
		font-size: 35px;
	}
}